<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>{{beteg.nev}}</title>
</head>
<body>
    {%include 'navbar.html'%}

    <div class="betegCard">
        <div class="flexrow">
            <img src="../static/pfp.jpg" alt="pfp">
            <div class="flexcol">
                <h1>{{beteg.nev}}</h1>
                <h2>{{beteg.TAJ}}</h2>
                <p>{{beteg.lakcim}}</p>
                <p>{{beteg.szuletes}}</p>

                <br>
                <p>Gyógyszer Érzékenység</p>
                <ul>
                    {%for erzekenyseg in beteg.erzekenysegek%}
                    <li><p>{{erzekenyseg.gyogyszer_neve}}</p></li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>




    <dialog id="vizsgalat">
        <form id="vizsgalatForm" action="/dev/vizsgalat_feltolt" method="post" enctype="multipart/form-data">
            <label for="taj">Taj szám:</label>
            <input type="text" id="taj_" name="taj" readonly value="{{beteg.TAJ}}" placeholder="TAJ">
            <br>
            <label for="datum">Időpont</label>
            <input type="datetime-local" name="datum" id="datum" placeholder="Dátum">
        </form>
        <button class="red-btn" onclick="closeDialog(this)">Bezár</button> <button class="green-btn" onclick="submitForm_('vizsgalatForm')">Ment</button>
    </dialog>

    <script>
        function openDialog(_id){
            document.getElementById(_id).showModal()
        }

        function closeDialog(_child){
            _child.parentElement.close()
        }

        function submitForm_(_id){
            document.getElementById(_id).submit()
        }

    </script>

    <div class="betegContainer">
        <h1 >Vizsgálatok</h1>
        <p class="text-button" onclick="openDialog('vizsgalat')">Hozzáad</p>

        {%for vizsgalat in beteg.vizsgalatok%}
        {%if dtNow < vizsgalat.datum.timestamp()%}
        <details>
            <summary>Vkod: {{vizsgalat.vkod}}; Időpont: {{vizsgalat.datum}}</summary>
        {%else%}
        <details style="background-color: gray;">
            <summary style="text-decoration: line-through rgba(255,255,255,0.6);">Vkod: {{vizsgalat.vkod}}; Időpont: {{vizsgalat.datum}}</summary>
        {%endif%}
        
            <p>Diagnosztizációk</p>
            {%set diagnosztizaciok = Diagnosztizal.query.filter(Diagnosztizal.vkod == vizsgalat.vkod).all()%}
            <ul>
                {%for diagnosztizal in diagnosztizaciok%}
                <li>{{diagnosztizal.betegseg_neve}}</li>
                {%endfor%}
                <form class="list-form" action="javascript:void(0)" onsubmit="">
                    <input type="text" list="betegsegLista" id="diagnosztizalForm" name="diagnosztizalForm"><input type="submit" value="Hozzáad"> 
                </form>
            </ul>
            <p>Felirások</p>
            {%set felirasok = Felir.query.filter(Felir.vkod == vizsgalat.vkod).all()%}
            <ul>
                {%for felir in felirasok%}
                <li>{{felir.gyogyszer_neve}}</li>
                {%endfor%}
                <form class="list-form" action="javascript:void('a')">
                    <input type="text" name="felirForm" list="gyogyszerLista" id="felirForm" name="felirForm"><input type="submit" value="Hozzáad"> 
                </form>
            </ul>
        </details>
        {%endfor%}
    </div>

    {{betegsegek}}

    <datalist id="betegsegLista">
        {%for betegseg in betegsegek%}
        <option value="{{betegseg.id}}">{{betegseg.betegseg_neve}}</option>
        {%endfor%}
    </datalist>
    <datalist id="gyogyszerLista">
        {%for gyogyszer in gyogyszerek%}
        <option value="{{gyogyszer.id}}">{{gyogyszer.gyogyszer_neve}}</option>
        {%endfor%}
    </datalist>
</body>
</html>