<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>{{beteg.nev}}</title>
</head>
<body>
    {%include 'navbar.html'%}

    <div class="betegCard">
        <a href="/beteg/{{beteg.TAJ}}/pfp/upload">Profilkép változatása</a>
        <div class="flexrow">
            <img src="/beteg/{{beteg.TAJ}}/pfp" onerror="placeholder(this)" alt="pfp">


            <div class="flexcol">
                <h1>{{beteg.nev}}</h1>
                <h2>{{beteg.TAJ}}</h2>
                <p>{{beteg.lakcim}}</p>
                <p>{{beteg.szuletes}}</p>

                <br>
                <p>Gyógyszer Érzékenység</p>
                <ul>
                    {%for erzekenyseg in beteg.erzekenysegek%}
                    <li><p>{{Gyogyszer.query.filter(Gyogyszer.id == erzekenyseg.gyogyszer_id).first().gyogyszer_neve}}</p></li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>




    <dialog id="vizsgalat">
        <form id="vizsgalatForm" action="/dev/vizsgalat_feltolt" method="post" enctype="multipart/form-data">
            <label for="taj">Taj szám:</label>
            <input type="text" id="taj_" name="taj" readonly value="{{beteg.TAJ}}" placeholder="TAJ">
            <br>
            <label for="datum">Időpont</label>
            <input type="datetime-local" name="datum" id="datum" placeholder="Dátum">
        </form>
        <button class="red-btn" onclick="closeDialog(this)">Bezár</button> <button class="green-btn" onclick="submitForm_('vizsgalatForm')">Ment</button>
    </dialog>

    <script>
        function placeholder(_e){
            _e.src = "/static/pfp.jpg"
        }

        function openDialog(_id){
            document.getElementById(_id).showModal()
        }

        function closeDialog(_child){
            _child.parentElement.close()
        }

        function submitForm_(_id){
            document.getElementById(_id).submit()
        }

        function submitDiagnosztizacio(_form){
            betegseg = _form.children[0]
            let formData = new FormData();
            formData.set('taj', String(betegseg.dataset.taj))
            formData.set('betegseg_id', String(betegseg.value))
            formData.set('vkod', String(betegseg.dataset.vkod))

            fetch("/dev/submitDiagnosztizal", 
            {method: 'post', body: formData, redirect: "follow"})
            .then((r)=>{
                if (!r.ok){
                    alert('Nincs ilyen betegség az adatbázisban!')
                } 
                if (r.redirected){
                    window.location.reload()
                }
            })
            .then((d)=>d)
        }

        function submitFeliras(_form){
            gyogyszer = _form.children[0]
            let formData = new FormData();
            formData.set('taj', String(gyogyszer.dataset.taj))
            formData.set('gyogyszer_id', String(gyogyszer.value))
            formData.set('vkod', String(gyogyszer.dataset.vkod))

            fetch("/dev/submitFelir", 
            {method: 'post', body: formData, redirect: "follow"})
            .then((r)=>{
                if (!r.ok){
                    alert('Nincs ilyen gyógyszer az adatbázisban!')
                } 
                if (r.redirected){
                    window.location.reload()
                }
            })
            .then((d)=>d)
        }

    </script>

    <div class="betegContainer">
        <h1 >Vizsgálatok</h1>
        <p class="text-button" onclick="openDialog('vizsgalat')">Hozzáad</p>

        {%for vizsgalat in beteg.vizsgalatok%}
        {%if dtNow < vizsgalat.datum.timestamp()%}
        <details>
            <summary>Vkod: {{vizsgalat.vkod}}; Időpont: {{vizsgalat.datum}}</summary>
        {%else%}
        <details style="background-color: gray;">
            <summary style="text-decoration: line-through rgba(255,255,255,0.6);">Vkod: {{vizsgalat.vkod}}; Időpont: {{vizsgalat.datum}}</summary>
        {%endif%}
        
            <p>Diagnosztizációk</p>
            {%set diagnosztizaciok = Diagnosztizal.query.filter(Diagnosztizal.vkod == vizsgalat.vkod).all()%}
            <ul id="diagnosztizalList">
                {%for diagnosztizal in diagnosztizaciok%}
                <li>{{Betegseg.query.filter(Betegseg.id == diagnosztizal.betegseg_id).first().betegseg_neve}}</li>
                {%endfor%}
            </ul>
            <form id="diagnosztizalForm" class="list-form" action="javascript:void(0)" onsubmit="submitDiagnosztizacio(this)">
                <input type="text" data-taj="{{beteg.TAJ}}" data-vkod="{{vizsgalat.vkod}}" list="betegsegLista" id="diagnosztizalFormInput" name="diagnosztizalFormInput"><input type="submit" value="Hozzáad"> 
            </form>
            <p>Felirások</p>
            {%set felirasok = Felir.query.filter(Felir.vkod == vizsgalat.vkod).all()%}
            <ul id="felirList">
                {%for felir in felirasok%}
                <li>{{Gyogyszer.query.filter(Gyogyszer.id == felir.gyogyszer_id).first().gyogyszer_neve}}</li>
                {%endfor%}
            </ul>
            <form id="felirForm" class="list-form" action="javascript:void(0)" onsubmit="submitFeliras(this)">
                <input type="text" data-taj="{{beteg.TAJ}}" data-vkod="{{vizsgalat.vkod}}" name="felirForm" list="gyogyszerLista" id="felirFormInput" name="felirFormInput" ><input type="submit" value="Hozzáad"> 
            </form>
        </details>
        {%endfor%}
    </div>

    <datalist id="betegsegLista">
        {%for betegseg in betegsegek%}
        <option value="{{betegseg.id}}">{{betegseg.betegseg_neve}}</option>
        {%endfor%}
    </datalist>
    <datalist id="gyogyszerLista">
        {%for gyogyszer in gyogyszerek%}
        <option value="{{gyogyszer.id}}">{{gyogyszer.gyogyszer_neve}}</option>
        {%endfor%}
    </datalist>
</body>
</html>