<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/common.js"></script>
    <title>Háziorvos</title>
</head>
<body>
    {%include 'navbar.html'%}


    {%for beteg in betegek%}
    <div class="betegCard">
        <div class="flexrow">
            <img class="pfp" src="/beteg/{{beteg.TAJ}}/pfp" onerror="placeholder(this)" alt="pfp">
            <div class="flexcol">
                <h1><a href="/beteg/{{beteg.TAJ}}">{{beteg.nev}}</a></h1>
                <h2>{{beteg.TAJ}}</h2>
            </div>
        </div>
    </div>
    {%endfor%}
</body>
</html>