<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Navbar</title>
</head>

<div id="navbar">
    <a href="/" class="navlink">Betegek</a>
    <a href="/gyogyszerek" class="navlink">Gyógyszerek</a>
    <a href="/betegsegek" class="navlink">Betegségek</a>

    <form action="/betegSearch" id="searchForm">
        <input type="text" id="q" name="q" placeholder="Beteg Keresés">
        <input type="submit" value="Keres" />
    </form>
</div>